{% extends 'base.html' %}
<!-- {% block body_class %}memberships-page{% endblock %} -->
<!-- {% block messages %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                <button style="font-size:20px; float: right;" onclick="remove(event)">&#10008;</button>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

<script>
    function remove(event) {
        event.target.parentElement.style.display = 'none';
    }
</script> -->


{% block content %}
    <div class="container">
        <h1 style="font-size: 30px;">Our Membership Plans</h1>

        <!-- Success or Info Message -->
        <!-- {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %} -->

        <!-- Membership Plans -->
        <div class="row">
            {% for plan in membership_plans %}
                <div class="col-lg-4 col-md-6">
                    <div class="membership-plan-card">
                        <!-- <h3>{{ plan.membership_id }}</h3> -->

                        <h3>{{ plan.name }}</h3>
                        <p class="price">₹ {{ plan.price }} / yearly membership</p>
                        <!-- {% if plan.badge %}
                            <span class="badge badge-info">{{ plan.badge }}</span>
                        {% endif %} -->
                        <div>
                            {% for feature in plan.features %}
                                <span>{{ feature }}</span>
                            {% endfor %}
                        </div>
                        <a href="{% url 'purchase_membership' %}" class="btn btn-primary">Let's Get Fit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
